body{
    background-color:aqua;
    color: aliceblue;
}
/*Calculadora base*/
div.calcIn {
 background-color: #550044ff;
 width:430px;
 height: 580px;
 border-radius: 40px;
 padding: 10px;
}

/*Pantalla*/
div.pantalla{
    background-color: black;
    height: 90px;
    margin: 20px 30px;
    padding: 10px;
    border-radius: 20px;
    text-align: right;
    font-size: 80px;
}